$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$color-darkgreen: #204E4D;
$color-lightgreen: #D5FDB1;
$color-white: #FFFFFF;
$color-black: #010202;
$color-grey: #3C4949;
$color-lightgrey: #F7F7F7;

$color-forestgreen: #228B22;
$color-seagreen: #2E8B57;

$color-bordergrey: #CCCCCC;





