$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$color-darkgreen: #204e4d;
$color-lightgreen: #d5fdb1;
$color-white: #ffffff;
$color-black: #010202;
$color-grey: #3c4949;
$color-lightgrey: #f7f7f7;

$color-forestgreen: #228b22;
$color-seagreen: #2e8b57;

$color-bordergrey: #cccccc;
