$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-color1: #0c1e1a;
$primary-color2: #1e6655;
$primary-color3: #effaf7;

$secondary-color1: #b7cec9;
$secondary-color2: #e4efec;
$secondary-color3: #ffffff;
