@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.piechart{
  &__chart{
    border: 1px solid white;
    border-radius: 15px;
    margin-top: 48px;
    padding: 16px;
    background-color: $color-white;
    @include flex(column, center, center, nowrap);
    &--title{
      font-size: 24px;
      text-align: center;
      margin-bottom: 20px;
    }
  }
  &__stockdata{
    border: 1px solid $color-white;
    background-color: $color-white;
    border-radius: 15px;
    &--row{
      @include flex(row, space-between, center, nowrap);
      background-color: $color-white;
    }
  &--label{
    background-color: $color-white;
    color: $color-grey;
    margin: 4px 0;
  }
  &--value{
    border:1px solid $color-darkgreen;
    border-radius: 15px;
    background-color: $color-forestgreen;
    opacity: 0.8;
    padding: 0px 8px;
    color: $color-white;
  }
  }
}

.piechart__icon{
  width: 32px;
  position: absolute;
}