@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.linechart-container{
  border: 1px solid white;
  border-radius: 15px;
  margin-top: 48px;
  padding: 16px;
  background-color: $color-white;
  @include flex(column, center, center, nowrap);
  width: 100%;
}

.linechart__button{
  margin-top: 16px;
  width: 90%;
  height: 3vh;
  @include flex(row, center, center, nowrap);
  gap: 8px;
  &--item{
  border: 1px solid $color-lightgrey;
  border-radius: 15px;
  padding: 15px;
  background-color: $color-white;
  color: $color-black;
  font-size: 14px;
  width: 25%;
  height: 2vh;
  @include flex(row, center, center, nowrap);
}

}