@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.linechart-container{
  border: 1px solid white;
  border-radius: 15px;
  margin-top: 48px;
  padding: 16px;
  background-color: $color-white;
  
}