@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.header{
  &__nav{
    @include flex(row, space-evenly, center, nowrap);
    border: 1px solid $color-white;
    background-color: $color-white;
    border-radius: 25px;
    padding: 8px 24px;
    height: 7vh;
    &--item{
      border: 2px solid $color-darkgreen;
      border-radius: 25px;
      height: 7vh;
      @include flex(row, center, center, nowrap);
      background-color: $color-darkgreen;


    }
    &--text{
      font-size: 18px;
      background-color: $color-darkgreen;
      color: $color-white;

    }
    &--link{
      background-color: $color-darkgreen;
    }
  }

}