@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;


.analysis{
  margin-left: 56px;
  border: 1px solid $color-bordergrey;
  border-radius: 15px;
  background-color: $color-white;
  padding: 20px;
  &__title{
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 56px;
    text-align: center;
  }
  &__container{
    width: 100%;
    max-width: 700px;
  }
  &__row{
    @include flex(row, space-between, center, nowrap);
    background-color: $color-white;
  }
  &__label{
    background-color: $color-white;
    color: $color-grey;
    margin: 4px 0;
  }
  &__value{
    border:1px solid $color-darkgreen;
    border-radius: 15px;
    background-color: $color-darkgreen;
    opacity: 0.8;
    padding: 0px 8px;
    color: $color-white;
  }
}

.analysis__icon{
  width: 32px;
  position: absolute;
}