.candlestick__container {
  
  width: 1500px;
  height: 500px;
  margin: 3rem auto;
  padding: 1rem;
  background-color: #fafafa;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.candlestick-__loading {
  text-align: center;
  color: #777;
  padding-top: 2rem;
}
